


.righttoppanel {
    width: 85%;
    height: 75%;
    float: left;
    background-color: white;
    border-collapse: collapse;
	overflow-y: auto;
}

.rightbottompanel {
  width: 85%;
  height: 25%;
  position: relative;
  float: right;
  background-color: rgb(230, 230, 230);
  border-top: 3px solid black;
  border-left: 2px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

 .righttoppanel > img {
	 
	 width: 40%;
	 display: block;
	 margin-top: 20px;
	 margin-right: 80px;
	 float: right;
	 
 }
 div.weight{
	margin-top: 60px; 
	margin-left: 50px;
 }
 
 div.height{
	margin-top: -10px;
	margin-left: 50px;
 }
 
div.button{
	margin-left: 30%;
	float:center;
}

div#result {
	width: 40%;
	float:right;
	margin-top: -7%;
}

button#btn{
	height: 50px;
	width: 200px;
	margin-left: 30%;
}
 
input[type="number"] {
   width: 10%;
}